
<div class="container">
  <div class="col-sm-3">

  </div>
<div class="col-sm-6">
<ul class="list-group">
  <li class="list-group-item">
  <% @users.each do |user| %>
  <%= image_tag user.photo_url %>
  <%= user.username %>
  <% end %>
  </li>
  

  </ul>
</div>
<div class="col-sm-3">

</div>
</div>

</div>
